.jumbotron {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRpFJoE2DH5q85tYIoW_PWqz5ynKd5Slq-eVw&usqp=CAU');
    background-repeat:no-repeat;
    background-size: cover;
    color: black;
    padding: 240px 25px;
    font-family: Montserrat, sans-serif;
    }

    #branch{
    padding:50px 25px 70px 0;
    }
    #problems{
    padding:100px 25px 160px 0;
    }
    
    .navbar {
               overflow:hidden;
               position: fixed;
               width: 100%;
               top: 0;
               z-index:3;
             }
             
    a{
    text-decoration:none;
    }	
    
    #about{
    padding:100px 25px 160px 0;
    }	

    